.idea/
*.iml
.classpath
.project
.settings/
java/target/
nbproject/
nb-configuration.xml
bin/
local.properties
project.properties
csharp/code-smell/obj/
csharp/code-smell.UnitTests/obj/
*.suo
*.user
*.userosscache
*.sln.docstates